# Database Configuration
DB_HOST=jwst.domain.castle
DB_PORT=5432
DB_NAME=corp_spend_tracker
DB_USER=postgres
DB_PASSWORD=postgres

# Django Configuration
DEBUG=True
SECRET_KEY=django-insecure-r55(7n1p8aad8d!)u_&6-4@!glt!ba!o93#%gajl(^8h^r9f#a
ALLOWED_HOSTS=localhost,127.0.0.1,jwst.domain.castle

# Optional: Use SQLite for development (set to 'true' to enable)
USE_SQLITE=false
